# azure-identity
# azure-storage-blob
cftime==1.5.2
# GDAL<=3.8.4
GeoAlchemy2==0.18.0
geopandas==0.13.2
# numpy==2.0.1
opensearch-dsl==2.1.0
opensearch-py==3.0.0
oracledb==3.3.0
pyarrow==21.0.0
# pygeofilter[backend-sqlalchemy]
# pygeoif
# pygeometa
pyarrow==21.0.0
sodapy==2.2.0
s3fs<=2023.6.0
